.players {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.players button {
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background: #2086d9;
  color: #fff;
  font-weight: 700;
  margin: 10px 0;
  float: right;
  transition: 0.5s;
}

.players button:disabled {
  cursor: not-allowed;
  background: #ddd;
}

.player {
  display: flex;
  flex-direction: column;
}

.player input {
  line-height: 40px;
  width: clamp(100px, 90vw, 600px);
  font-size: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 3px 10px;
  margin: 5px 0;
}